<main>
  <header>
    <h1>Meus contatos</h1>
    <button>+</button>
    <span>amigos 000</span>
  </header>
  <section class="grupos">
    <span>Todos os contatos</span>
    <span>office</span>
    <span>family</span>
    <button>novo grupo</button>
  </section>
  <section>
    <form action="">
      <input type="text" name="" id="">
    </form>
  </section>
  <section>
    <div>
      <img src="" alt="">
      <div>
        <h1>AArom</h1>
        <p>+61 5796-7415</p>
      </div>
    </div>
  </section>
</main>

