<main>
  <header>
    <h1>Meus contatos</h1>
    <button><fa-icon [icon]="faplus" class="icone-plus"></fa-icon></button>
    <span>amigos 000</span>
  </header>
  <section class="grupos">
    <span>Todos os contatos</span>
    <span>office</span>
    <span>family</span>
    <button>novo grupo</button>
  </section>
  <section class="form">
    <form [formGroup]="loginForm">
      <input [type]="type" [formControlName]="formName" placeholder="Pesquise algum contato">
      <button>GO</button>
    </form>
  </section>
  <section class="lista-contato">
    <div class="item">
      <img src="../../../assets/homem.png" alt="icone de um home" priority>
      <div>
        <h1>Aarom</h1>
        <p>+61 5796-7415</p>
      </div>
      <button>
        <fa-icon [icon]="faBars" class="icone-bar"></fa-icon>
      </button>
    </div>
    <div class="item">
      <img src="../../../assets/mulher.png" alt="icone de uma mulher" priority>
      <div>
        <h1>Ana</h1>
        <p>+93 3147-9864</p>
      </div>
      <button>
        <fa-icon [icon]="faBars" class="icone-bar"></fa-icon>
      </button>
    </div>
    <div class="item">
      <img src="../../../assets/mulherr.png" alt="icone de uma mulher" priority>
      <div>
        <h1>Ana</h1>
        <p>+93 3147-9864</p>
      </div>
      <button>
        <fa-icon [icon]="faBars" class="icone-bar"></fa-icon>
      </button>
    </div>
  </section>
</main>

