:root{
  --black: #000;
  --musgo: #003333;
  --verde: #7EA52A;
  --verdinho: #91C29B;
  --cinza: #E5DCDD;
  --white: #fff;
}

*{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}
